<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514146279724-8vgqvukqnan4qu64pr02hhj2fc28cb0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514146279724-8vgqvukqnan4qu64pr02hhj2fc28cb0j</string>
	<key>API_KEY</key>
	<string>AIzaSyDAJQOjrMJLIP-SNFIJVg6X_-gs9qSo03k</string>
	<key>GCM_SENDER_ID</key>
	<string>514146279724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.napaglobal.flutterBlocBaseSourceCode</string>
	<key>PROJECT_ID</key>
	<string>napa-digital-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>napa-digital-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514146279724:ios:86e8cfe26fb8004dc30c89</string>
</dict>
</plist>